Day 4/Agentic_AI_task.json
{
  "name": "Agentic AI task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31284f29-ba91-47eb-aa9f-5733972efcf5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a97c6548-cd0f-4d84-830a-41b542992cf3",
      "name": "Webhook",
      "webhookId": "31284f29-ba91-47eb-aa9f-5733972efcf5"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst bodyData = items.map((item) => item.json.body);\nreturn bodyData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "2299f08b-924c-4b30-997a-2f3d8dffd7d8",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8",
          "mode": "list",
          "cachedResultName": "Agentic AI Task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "38ad4cd4-551f-492b-ae99-e4b1119faae2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rn4FNP4Ml44ZaLnl",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a productivity assistant. A team meeting was conducted where project tasks were discussed and assigned.\nThe following information has been submitted by an employee.\n\nYour task is to analyze the details and generate a concise, professional email outlining the action items, assigned tasks, and the due date.\n\nMeeting Details:\n\nName: {{ $json.assignee }}\n\nTask Allocated: {{ $json.task_description }}\n\nDue Date: {{ $json.deadline }}\n\nInstructions:\n\nFormat the output as a professional email body.\n\nClearly list action items and responsibilities.\n\nMention the due date.\n\nKeep the content short, direct, and informative.\n\nDo not include a subject line.\n\nGenerate the final email content that can be sent to the employee.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "6299e9ee-3167-4f1d-9ec4-232ab89fe7a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "id": "8f4f0474-92ac-49ea-8c25-c4ca5cc88e72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QXemLGC8gaV1bI00",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json['email'] }}",
        "subject": "Task Due - Please resolve with attention!",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        0
      ],
      "id": "ec7e0bf0-1617-48cc-9dc9-b0198340a107",
      "name": "Gmail",
      "webhookId": "027c961d-7e3a-4624-9ab1-c89c58b38413",
      "credentials": {
        "gmailOAuth2": {
          "id": "JzspQYIabeCb1bLz",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8",
          "mode": "list",
          "cachedResultName": "Agentic AI Task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kQCVqHPvr3I2bxB5PJc9CeRc6mL26dMAtO4I7GviWa8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        660,
        0
      ],
      "id": "fb03f648-497d-460f-8063-300bc4c24c05",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rn4FNP4Ml44ZaLnl",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d983330-0a0b-403a-a268-cc4fdd303fbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60dba8f1fb7dbc75eae08371df67764a4f777e1fc17d9fbb35a5128ed0d6e15c"
  },
  "id": "9mEJQLePtMQzTHhL",
  "tags": []
}